@font-face {
  font-family: "Cabin Sketch";  
  src: url(/fonts/CabinSketch-Bold.ttf);
}

div{
  margin:0;
  padding:0;
}
/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
  display: block;  
}  


.search{
}

#page_container{
  width:940px;
  height:940px;
  margin:0 auto; 
  padding:8px 8px 8px 8px; 
  position:relative;
}

#first_column{
  width:225px;
  float:left;
  padding:5px 5px 5px 5px;
}

#searchContainer{
  overflow:scroll;
}

#second_column{
  width:225px;
  float:left;
  padding:5px 5px 5px 5px;
}

#third_column{
  width:225px;
  float:left;
  padding:5px 5px 5px 5px;
}

#fourth_column{
  width:225px;
  float:left;
  padding:5px 5px 5px 5px;
}

#footer{
  display:block;
  text-align:left;
  float:left;
}

.red_link a:link{
  text-decoration:none; 
  color:#A00000;
}

.red_link a:visited {
  text-decoration: none;
  color:#A00000;
}

.red_link a:active {
  text-decoration: none;
  color:#A00000;
}

.red_link a:hover {
  text-decoration: none;
  color:#A000000;
}

.black_link a:link{
  text-decoration:none; 
  color:black;
}

.black_link a:visited {
  text-decoration: none;
  color:black;
}

.black_link a:active {
  text-decoration: none; 
  color:black;
}

.black_link a:hover {
  text-decoration: none;
  color:black;
}

body {  
  height: 1000px;
  margin: 0 auto;  
  position:absolute;
  width: 100%;
}

h1 {
  color: #413839; 
  font-family: "Cabin Sketch", serif; 
  font-size: 112px; 
  font-weight: normal;
  /*text-shadow: 3px 3px 8px #aaa; */
}

h2 {
  font-family: "Courier", sans-serif; 
  font-size: 24px; 
  /*text-shadow: 2px 2px 2px #aaa; */
}


p {
 color: #413839; 
 font-family: "Century Gothic", sans-serif; 
 font-size: 14px; 
}

h3 {
  color: #413839; 
  float: left;
  font-family: "Cabin Sketch", serif; 
  font-size: 48px; 
  font-weight: normal;
  /*text-shadow: 3px 3px 5px #aaa; */
}

a:link {
  text-decoration: none;
  color:#A00000;
}

a:visited {
  color:#A00000;
  text-decoration: none;
}

a:active {
  text-decoration: none
}

a:hover {
  text-decoration: none;
  color: #A000000;
}

.popover .popover_triangle {
  left: 5px;
}

.popover {
  -moz-border-radius: 4px;
  -moz-transition: opacity 0.25s linear;
  -webkit-border-radius: 4px;
  -webkit-transition: opacity 0.25s linear;
  background-color: white;
  border-radius: 4px;
  border-radius: 4px;
  border: 3px solid #413839;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: black;
  cursor: auto;
  display:none;
  font-family: "Century Gothic", sans-serif; 
  /*font-size: 16px; text-shadow: 2px 2px 2px #aaa;*/
  font-weight: normal;
  left:0px;
  line-height: 1;
  opacity: 0.9;
  position:absolute;
  top:217px;
  transition: opacity 0.25s linear; 
  vertical-align: baseline;
  width: 225px;
  z-index:5000000;
}

.popover > .popover_triangle {
  border-bottom: 16px solid rgba(0,0,0,0); 
  border-left: 16px solid rgba(0,0,0,0);
  border-right: 16px solid rgba(0,0,0,0);
  border-top: 16px solid #413839;
  font-size: 0px;
  line-height: 0%;
  position: absolute;
  top: 77px;
  width: 0px;
}

.popover > .header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#413839), color-stop(0.2,#4138395, 0.35), color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(0.5, transparent), to(transparent) );
  background: #222; /* old browsers */
  background: -moz-linear-gradient(top, #333 0%, #111 100%); /* firefox */
  color: white;
  font-weight: bold;
  height: 225px;
  line-height: 25px;
  margin: 0;
  padding: 3px;
  text-align: center; 
  text-shadow: rgba(0, 0, 0, 1) 0 -1px 0;
}

.popover > .content {
  background: #413839;
  font-size: 16px;
  height: 75px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 225px;
}

.popover > .content ul {
  list-style: none;
  margin: 0;	
  padding: 0;
}

.popover > .content ul li {
  border-bottom:#ccc 1px solid;
  line-height:25px;
}

.popover > .content ul li.item:hover {
  border-bottom:#1443BE 1px solid;
}

.popover > .content ul li h6 {
  padding:0 10px;color:#000;font-size:13px;display:block;background:#f3f3f3;text-shadow:rgba(255, 255, 255, 1) 0 -1px 0;}

.popover > .content ul li a {
  padding:0 14px;display:block;
}

.popover > .content ul li a:link, .popover > .content ul li a:visited {
  text-decoration:none;color:#333;
}

.popover > .content ul li a:focus, .popover > .content ul li a:hover {
  text-decoration:none;color:#fff;
  background:#1C54E7 url('../images/arrow-small.png') 97% center no-repeat;
  text-shadow:rgba(0, 0, 0, .55) 0 -1px 0;
}
	
	
	
	


