@font-face {
  font-family: "Cabin Sketch";  
  src: url(/fonts/CabinSketch-Bold.ttf);
}

div{
  margin:0;
  padding:0;
}
/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
  display: block;  
}  


.search{
}

#page_container{
  width:940px;
  height:940px;
  margin:0 auto; 
  padding:8px 8px 8px 8px; 
  position:relative;
}

#first_column{
  width:225px;
  float:left;
  padding:5px 5px 5px 5px;
}

#searchContainer{
  overflow:scroll;
}

#second_column{
  width:225px;
  float:left;
  padding:5px 5px 5px 5px;
}

#third_column{
  width:225px;
  float:left;
  padding:5px 5px 5px 5px;
}

#fourth_column{
  width:225px;
  float:left;
  padding:5px 5px 5px 5px;
}

#footer{
  display:block;
  text-align:left;
  float:left;
}

.red_link a:link{
  text-decoration:none; 
  color:#A00000;
}

.red_link a:visited {
  text-decoration: none;
  color:#A00000;
}

.red_link a:active {
  text-decoration: none;
  color:#A00000;
}

.red_link a:hover {
  text-decoration: none;
  color:#A000000;
}

.black_link a:link{
  text-decoration:none; 
  color:black;
}

.black_link a:visited {
  text-decoration: none;
  color:black;
}

.black_link a:active {
  text-decoration: none; 
  color:black;
}

.black_link a:hover {
  text-decoration: none;
  color:black;
}

body {  
  position:absolute;
  margin: 0 auto;  
  width: 100%;
  height: 1000px;
}

h1 {
  font-family: "Cabin Sketch", serif; 
  font-size: 112px; 
  font-weight: normal;
  text-shadow: 3px 3px 8px #aaa; 
  color: #413839; 
}

h2 {
  font-family: "Courier", sans-serif; 
  font-size: 24px; 
  text-shadow: 2px 2px 2px #aaa; 
}


p {
 font-family: "Century Gothic", sans-serif; 
 font-size: 14px; 
 /*text-shadow: 2px 2px 2px #aaa; 
  */
 color: #413839; 
}

h3 {
  font-family: "Cabin Sketch", serif; 
  font-size: 48px; 
  font-weight: normal;
  text-shadow: 3px 3px 5px #aaa; 
  color: #413839; 
  float:left;
}

a:link {
  text-decoration: none;
  color:#A00000;
}

a:visited {
  text-decoration: none;
  color:#A00000;
}

a:active {
  text-decoration: none
}

a:hover {
  text-decoration: none;color:#A000000;
}

.popover .popover_triangle {
  left:5px;
}

.popover {
  font-family: "Century Gothic", sans-serif; 
  font-size: 16px; text-shadow: 2px 2px 2px #aaa;
  color: black;
  opacity: 0.9;
  display:none;
  left:0px;
  width: 225px;
  font-weight: normal;
  vertical-align: baseline;
  line-height: 1;
  cursor: auto;
  position:absolute;
  top:217px;
  background-color: white;
  z-index:5000000;
  border: 3px solid #413839;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.25s linear;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-transition: opacity 0.25s linear;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: opacity 0.25s linear; 
}

.popover > .popover_triangle {
  position: absolute;
  top: 77px;
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  border-top: 16px solid #413839;
  border-left: 16px solid rgba(0,0,0,0);
  border-right: 16px solid rgba(0,0,0,0);
  border-bottom: 16px solid rgba(0,0,0,0); 
}

.popover > .header {
  font-weight: bold;
  margin: 0;
  padding: 3px;
  height: 225px;
  line-height:25px;
  text-shadow:rgba(0, 0, 0, 1) 0 -1px 0;
  color: white;
  background: #222; /* old browsers */
  background: -moz-linear-gradient(top, #333 0%, #111 100%); /* firefox */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#413839), color-stop(0.2,#4138395, 0.35), color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(0.5, transparent), to(transparent) );
  text-align: center; 
}

.popover > .content {
  width: 225px;
  height: 75px;
  background: #413839;
  overflow-x: hidden;
  overflow-y: auto;
  font-size:16px;
}

.popover > .content ul {
  list-style:none;
  margin:0;	
  padding:0;
}

.popover > .content ul li {
  line-height:25px;
  border-bottom:#ccc 1px solid;
}

.popover > .content ul li.item:hover {
  border-bottom:#1443BE 1px solid;
}

.popover > .content ul li h6 {
  padding:0 10px;color:#000;font-size:13px;display:block;background:#f3f3f3;text-shadow:rgba(255, 255, 255, 1) 0 -1px 0;}

.popover > .content ul li a {
  padding:0 14px;display:block;
}

.popover > .content ul li a:link, .popover > .content ul li a:visited {
  text-decoration:none;color:#333;
}

.popover > .content ul li a:focus, .popover > .content ul li a:hover {
  text-decoration:none;color:#fff;
  background:#1C54E7 url('../images/arrow-small.png') 97% center no-repeat;
  text-shadow:rgba(0, 0, 0, .55) 0 -1px 0;
}
	
	
	
	


